@use '../utils/mixins';
@use '../utils/variables';

.header {
  height: 100vh;

  background-image: url('../images/header-bg-mobile.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;

  @include mixins.on-tablet {
    background-image: url('../images/header-bg-tablet.png');
  }

  @include mixins.on-desktop {
    background-image: url('../images/header-bg-desktop.png');
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }

  &__title {
    margin: 0;

    font-family: variables.$font-main;
    font-size: 36px;
    font-weight: 700;
    font-style: bold;
    line-height: 100%;
    text-align: center;
    letter-spacing: -1.5px;

    @include mixins.on-tablet {
      font-size: 64px;
    }

    @include mixins.on-desktop {
      font-size: 80px;
    }
  }

  &__bottom {
    padding-bottom: 88px;

    @include mixins.on-tablet {
      padding-bottom: 130px;
    }

    @include mixins.on-desktop {
      padding-bottom: 203px;
    }
  }
}
